PORT=3000
PREFERRED_ENCODING=FLAC
LIDARR_BASE_URL=
LIDARR_API_KEY=
LIDARR_ROOT_FOLDER_PATH=
MUSICBRAINZ_API_KEY=
LASTFM_API_KEY=
MUSIC_SERVER_TYPE=passive
MUSIC_SERVER_BASE_URL=
MUSIC_SERVER_TOKEN=
WORKER_INTERVAL_MS=2000
WORKER_STARTUP_DELAY_SECONDS=10
RETENTION_DAYS=30
RETRY_INITIAL_DELAY_MINUTES=1
RETRY_LONG_INTERVAL_AFTER=10
RETRY_LONG_INTERVAL_MINUTES=1440
